.debate-item-outer {
    margin-bottom: 20px;
}

.il-item.debate-item {
    border: 3px solid;
    border-radius: 26px;
    padding: 4px;
}

.il-item.debate-item.neutral {
    border-color: #d3d3d3;
}

.il-item.debate-comment.initial {
    border-color: #8faedc;
}

.il-item.debate-comment.pro {
    border-color: #92dc8f;
}

.debate-glyph-pro {
    color: #578356;
}

.il-item.debate-comment.contra {
    border-color: #dc8f8f;
}

.debate-glyph-contra {
    color: #865656;
}

.il-item.debate-comment.question {
    border-color: #d3d3d3;
}

.debate-glyph-question {
    color: #757575;
}

.il-item.debate-comment.exclamation {
    border-color: #92dc8f;
}

.debate-glyph-exclamation {
    color: #578356;
}

.debate-date {
    font-size: 1.3rem;
    color: #6f6f6f;
    overflow: hidden;
}

.debate-item .il-item-title {
    margin-top: 4px;
}

.debate-comment .il-item-title {
    margin-top: 4px;
}

h3.debate-title {
    font-size: 2rem;
    margin: 12px 10px 8px 10px;
}

.debate-text {
    font-size: 1.4rem;
    margin: 0 8px 5px 8px;
    padding: 4px;
}

.debate-comments {
    margin: 0 14px 15px 30px;
}

.il-item.debate-comment {
    border: 3px solid;
    border-radius: 26px;
    padding: 4px;
}

.debate-comment-outer {
    margin-top:5px;
    margin-bottom:5px;
}

.debate-reply {
    text-align: center;
    margin-bottom: 20px;
}

.debate-reply .btn-default {
    font-size: 1.2rem;
    padding: 4px 10px;
}

.debate-item .btn-default {
    border-radius: 15px;
    font-size: 0.8rem;
    padding: 4px 10px;
}

.debate-actions {
    text-align: right;
    margin-top: 0px;
    margin-right: 17px;
    margin-bottom: 10px;
}

.il-item.debate-comment .il-item.debate-comment {
    border: 0;
    background-color: #f7f7f7;
    padding: 4px;
}

.modal .il-item.debate-comment {
    border: 0;
    background-color: #f7f7f7;
    padding: 4px;
}

.modal .debate-date {
    padding-left:10px;
    padding-top:6px;
}


.il-standard-form.form-horizontal textarea {
    height: 13em;
}

@media only screen and (max-width: 768px) {
    .debate-item .il-avatar, .debate-comment .il-avatar {
        height: 45px;
        width: 45px;
        border-width: 2px;
    }
    .debate-comment .il-avatar.il-avatar-letter span.abbreviation,
    .debate-item .il-avatar.il-avatar-letter span.abbreviation {
        font-size: calc(41px / 2);
        top: calc(41px / 4);
    }
    .debate-comment .il-avatar.il-avatar-picture img,
    .debate-item .il-avatar.il-avatar-picture img {
        height: 45px;
        width: 45px;
    }
}
