<div class="debate-item-outer">
    <div class="il-item il-std-item debate-item neutral">
        <div class="media">
            <div class="media-body">
                <div class="debate-date">{DATE}
                </div>
            </div>
        </div>
        <h3 class="debate-title">
            {TITLE}
        </h3>
        <div class="debate-text">
            {TEXT}
        </div>
        <!-- BEGIN attachments -->
        <div class="debate-attachments">
            {ATTACHMENTS}
        </div>
        <!-- END attachments -->
    </div>
</div>
