<div class="debate-comment-outer">
    <div class="il-item il-std-item debate-comment {TYPE}">
        <div class="media">
            <div class="media-left">
                {AVATAR}
            </div>
            <div class="media-body">
                <div class="il-item-title">{NAME}
                </div>
                <div class="debate-date">{DATE}
                </div>
            </div>
        </div>
        <h3 class="debate-title">
            {TITLE}
        </h3>
        <div class="debate-text">
            {TEXT}
        </div>
        <!-- BEGIN actions -->
        <div class="debate-actions">
            {ACTIONS}
        </div>
        <!-- END actions -->
        <!-- BEGIN comments -->
        <div class="debate-comments">
            {COMMENTS}
        </div>
        <!-- END comments -->
    </div>
</div>
