<div class="debate-item-outer">
    <div class="il-item il-std-item debate-item neutral">
        <div class="media">
            <div class="media-left">
                {AVATAR}
            </div>
            <div class="media-body">
                <div data-debate="pin" class="debate-pin">
                    {PIN}
                </div>
                <div class="il-item-title">{NAME}
                </div>
                <div class="debate-date">{DATE}<!-- BEGIN edit -->, {EDIT}<!-- END edit -->
                </div>
            </div>
        </div>
        <h3 class="debate-title">
            {TITLE}
        </h3>
        <div class="debate-text">
            {TEXT}
        </div>
        <!-- BEGIN attachments -->
        <div class="debate-attachments">
            {ATTACHMENTS}
        </div>
        <!-- END attachments -->
        <!-- BEGIN actions -->
        <div class="debate-actions">
            {ACTIONS}
        </div>
        <!-- END actions -->
        <!-- BEGIN comment_count -->
        <div class="debate-comment-count">
            {COMMENT_CNT}
        </div>
        <!-- END comment_count -->
    </div>
</div>
